body {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 2em;
	margin-right: 2em;
}
header {
	padding-bottom: .75em;
	border.bottom: 3px solid black;
	margin-bottom: 0;
}
p,ol {
	font-family:Arial, Helvetica, sans-serif;
}
h1[id="title"] {
	font-size: 200%;
	margin-bottom: 0;
	border:thick;
	border-color:red;	
}
.next {
	color: white;
	font-size: 100%;
	background: #32cd32;
	font-family:Arial, Helvetica, sans-serif;
}
.buyButton {
	font-size: 80%;
	background: blue;
	color: white;
}
